@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply !bg-transparent border-2 border-white/15 py-2 px-4 w-full rounded-lg placeholder-white/70 focus:outline-none focus:ring-2 ring-lime-400 active:!bg-transparent;
}
@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    @apply bg-transparent text-white/15 placeholder-white/70;
    transition: background-color 9999s, color 9999s; /* Keeps background transparent */
  }
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  .typing-effect {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(70, end) forwards, blink 0.5s step-end infinite;
  }
}
